/*
  ALIGNMENT
*/
.u-center-text {
  text-align: center;
}

/*
  MARGIN
*/
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/*
  CURSOR
*/
.u-cursor-none {
  cursor: none;
}

.u-cursor-pointer {
  cursor: pointer;
}